PORT=4000

DATABASE_URL=postgresql://usuario:password@host:puerto/nombre_bd

JWT_SECRET=colocar_clave_secreta_segura

RESEND_API_KEY=re_xxxxxxxxxxxxxxxxx

MAIL_FROM=Humantyx Jobs <no-reply@jobs.humantyx.com>

FRONTEND_URL=https://jobs.humantyx.com

NODE_ENV=production